<%- include('parts/top.ejs')%>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <form method="POST" action="/addbook" enctype="multipart/form-data">
        <div class="mb-3">
          <label class="form-label">Book Title</label>
          <input type="text" name="title" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea type="text" name="description"  class="form-control"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Author</label>
            <input type="text" name="author"  class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="number" name="price"  class="form-control">
          </div>
          <div class="mb-3">
            <label>Image</label>
            <input type="file" name="image"  accept=".jpg,.png,.jpeg" class="form-control">
            <% if (Smessage) {%>
          </div>
          <div class="alert alert-success">
              <%= Smessage %>
          </div>

          <% } %>
          <% if (Emessage) {%>
          </div>
          <div class="alert alert-danger">
              <%= Emessage %>
          </div>

          <% } %>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
</div>


<%- include('parts/bottom.ejs')%>
